* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

.heading {
    overflow: hidden;
    position: relative;
    padding: 0px 100px;
    background: lightblue;
    border-radius: 1.25rem;
    color: white;
    box-sizing: border-box;
    text-align: center;
}

.card {
    text-align: center;
    padding: 0 10px;
    color: aqua;
    background: bisque;
    border-radius: 1.25rem;
}

